# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
/staticfiles/
/media/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.settings/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Environment variables
.env